   @font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/lato/lato_n4.c86cddcf8b15d564761aaa71b6201ea326f3648b.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=86bb0ce78f1d901a5c64500918d69bef6f661590ec76bee5ac67b3f7ecf3369b") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n4.e0ee1e2c008a0f429542630edf70be01045ac5e9.woff?h1=Y3VzdG9tdGFwZXMuY29t&hmac=d6fb13ce71ab6de16cfd14e438f13862efdf024e49ad70ab391fcbcd15c5ff20") format("woff");
}

    @font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n4.da808834c2315f31dd3910e2ae6b1a895d7f73f5.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=c58d5eee28976a13f134b11ff0e21ad03d9c43ab84e7aea2e5a0895a7807859f") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n4.a512c7b68cd7f12c72e1a5fd58e7f7315c552e93.woff?h1=Y3VzdG9tdGFwZXMuY29t&hmac=71ce02c3b67f34afa95f4b267dd4d90ec632e47b458cbcf2190745d09d3df07a") format("woff");
}

    @font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n7.51ede27d5b58491d9cf07ad184108da52fef80b4.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=2c5b067e82bebb29a4c00991b64bc743b2316a48a71d844e9280510f0149957f") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n7.1babbb6a27f91b14216bafa40bf222e08f6999f4.woff?h1=Y3VzdG9tdGFwZXMuY29t&hmac=e0e6e2a21e4678b35f88f533925972dcd1c7bc8010e2805e8bd36b2a2c5d9d6f") format("woff");
}

    @font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_n7.51ede27d5b58491d9cf07ad184108da52fef80b4.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=2c5b067e82bebb29a4c00991b64bc743b2316a48a71d844e9280510f0149957f") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_n7.1babbb6a27f91b14216bafa40bf222e08f6999f4.woff?h1=Y3VzdG9tdGFwZXMuY29t&hmac=e0e6e2a21e4678b35f88f533925972dcd1c7bc8010e2805e8bd36b2a2c5d9d6f") format("woff");
}

    @font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_i4.f98951b4b9b6e1096fc799cd05debd098bd422ac.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=c63e8aabe115e2f12ecbf56fb52cf32f361ffdd449e8b22eafa5d7360b18cc26") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_i4.688a26691d45bc4053b6ae24a196cabdeedbc25c.woff?h1=Y3VzdG9tdGFwZXMuY29t&hmac=ce3a707d0589c0a6993354264d4b0b3abf5a2d9e5a618a6c60a976ca4047247a") format("woff");
}

    @font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/roboto/roboto_i7.9c922c35bb84952cfb17e8c1d42e440e75aa8ccf.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=fde777289fcf4daabd541f9893a340128be6d0abc6d2e467e2f00a6d429c03e8") format("woff2"),
       url("https://fonts.shopifycdn.com/roboto/roboto_i7.c50b5683f5731edb8040ff2110a54947108434de.woff?h1=Y3VzdG9tdGFwZXMuY29t&hmac=0d62c75d8f3358b919c98990f0a52915cc14cac669ac41419f4373f01c42a395") format("woff");
}
